<template>
  <div id='main-space'>
    <h1>{{ display[0].fields.title }}</h1>
    <p>{{ display[0].fields.description }}</p>
  </div>
</template>

<script>
export default {
  props: ['display'],
  name: 'MainSpace',
  data() {
    return {}
  },
  methods: {}
}
</script>

<style scoped>
#main-space {
  background-color: lightgray;
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
}
</style>