<template>
  <div class='row'>
    <div class='col-sm-1'>
      <div
        v-for='space in spaces'
        :key='space.sys.id'
      >
        <Tabs :title='space.fields.title'></Tabs>
      </div>
    </div>
    <div class='col-sm-11'>
      <MainSpace :display='spaces'></MainSpace>
      <Table :spaces='spaces'></Table>
    </div>
  </div>
</template>

<script>
import SpaceService from '../services/SpaceService'
import Tabs from './tabs'
import MainSpace from './main-space'
import Table from './table'

export default {
  name: 'Main',
  components: {
    Tabs,
    MainSpace,
    Table
  },
  data() {
    return {
      spaces: '',
      space: '',
      users: '',
      user: '',
      entries: '',
      entry: '',
      assets: '',
      asset: ''
    }
  },
  async created() {
    await this.init()
  },
  methods: {
    async init() {
      await this.getSpaces()
    },
    async getSpaces() {
      const response = await SpaceService.getSpaces()
      this.spaces = response.data.items
    }
  }
}
</script>

<style scoped>
</style>