<template>
  <div>
    <div>
      <button
        @click='entries = true'
        class='btn'
      >Entries</button>
      <button
        @click='entries = false'
        class='btn'
      >Assests</button>
    </div>
    <div v-if='entries'>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Summary</th>
            <th scope="col">Last Updated</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for='space in spaces'
            :key='space.sys.id'
          >
            <td>{{ space.fields.title }}</td>
            <div v-if='space.fields.description !== ""'>
              <td>{{ space.fields.description }}</td>
            </div>
            <div v-else>
              <td>No Data</td>
            </div>
            <td>{{ space.sys.updatedAt }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div v-else>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Content Type</th>
            <th scope="col">Last Updated By</th>
            <th scope="col">Last Updated</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for='space in spaces'
            :key='space.sys.id'
          >
            <td>{{ space.fields.title }}</td>
            <td>{{ space.sys.type }}</td>
            <td>{{ space.sys.updatedBy }}</td>
            <td>{{ space.sys.updatedAt }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Table',
  props: ['spaces'],
  data() {
    return {
      entries: true
    }
  },
  methods: {}
}
</script>

<style scoped>
.btn {
  border: 1px solid gray;
}
</style>