<template>
  <div id='tabs'>
    <button class='btn'>{{ title }}</button>
    <br />
  </div>
</template>

<script>
export default {
  props: ['title'],
  name: 'Tabs'
}
</script>

<style scoped>
#tabs {
  margin-top: 10px;
}
.btn {
  background-color: rgb(0, 82, 204);
  color: rgb(255, 255, 255);
  margin: 10px;
  width: 120px;
  font-size: 15px;
}
</style>