<template>
  <div
    id='app'
    class='container-fluid'
  >
    <Main></Main>
  </div>
</template>

<script>
import Main from '@/components/main.vue'

export default {
  name: 'app',
  components: {
    Main
  }
}
</script>

<style>
#app {
  background-color: rgb(250, 250, 237);
  height: 900px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
